<h4>Watched</h4>
<ul>
    <button *ngIf="showMainButton" (click)="addNew()">New</button>
    <button *ngIf="showMainButton" (click)="endCurrent()">Remove</button>

    <div *ngIf="showAddFeature">
        <input id="stockSymbol" placeholder="stock:" #newStockToAdd />
        <input id="companyName" placeholder="Name:" #newCompanyName />
        <button (click)="update(newStockToAdd.value, newCompanyName.value)">ok</button>
    </div>

    <button *ngIf="!showMainButton" (click)="cancel()">Cancel</button>

    <div *ngIf="showMainButton">
        Watch Stock
        <div *ngFor="let watchStock of listOfWatched ">
            <ul (click)="refreshData(watchStock.stockSymbol['symbol'])"> {{watchStock.stockSymbol['symbol']}} /
                {{watchStock.stockSymbol['name']}}</ul>
        </div>
    </div>

    <div *ngIf="showRemoveFeature">
        Remove Stock :
        <div *ngFor="let watchStock of listOfWatched">
            <ul (click)="endDate(watchStock)"> {{watchStock.stockSymbol['symbol']}} / {{watchStock.stockSymbol['name']}}
            </ul>
        </div>
    </div>

</ul>